.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar-left h5{
    margin: 0px;
}

.topbar-right {
    display: flex;
    align-items: center;
}

img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

#map { height: 500px; }