.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar-left h5{
    margin: 0px;
}

.topbar-right {
    display: flex;
    align-items: center;
}

img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#map { height: 500px; }


input[type=submit] {
    font-weight: bold;
    background-color: #399;
    border-width: 0px;
    border-radius: 6px;
    color: white;
    padding: 10px 14px;
    margin: auto;
    margin-top: 5px;
}

.btn.back-btn {
    font-weight: bold;
    background-color: white;
    border-color: black;
    border-radius: 6px;
    border-width: 1px;
    color: black;
    padding: 10px 14px;
    margin: auto;
    right: 0;
}

.btn.form-btn {
    display: flex;
    justify-content: center;
}