{% extends 'main.html' %}

{% block content %}
<div class="jumbotron">
    <div class="menu">
        <div class="greeting">
            <h1 class="display-4">Your Memories Here</h1>
            <ul class="usage">
                <li>Click the place name to focus location on the map</li>
                <li>Click the marker to show comments</li>
            </ul>
        </div>
        <div class="menu-action">
            <a class="btn btn-primary" href="{% url 'new-memory' %}">Add New Memory</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="memories">
            <h4>Memories</h4>
            {% if memories %}
                <ul>
                    {% for memory in memories %}
                    <li onclick="navigateToMarker({{ memory.latitude }}, {{ memory.longitude }})">
                        {{memory.place_name}}
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>YOU HAVE NO MEMORIES</p>
            {% endif %}
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div id="map"></div>
    </div>
</div>
{% endblock %}