{% extends 'main.html' %}

{% block content %}
<div class="jumbotron">
    <h4 id="form-title">ADD NEW MEMORY</h4>
</div>
<div class="row">
    <div class="col-6">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <a type="button" class="btn btn-danger" href="{% url 'dashboard' %}">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-6">
        <div id="map"></div>
    </div>
</div>

{% endblock %}